@using LibrarySystem.Shared.AuthorData
@model AuthorDetails
<div class="d-flex align-items-center mb-3">
    <button type="button" class="btn btn-secondary me-2" onclick="goBack('@Url.Action("Index","Home")')">Back</button>
    <h1 class="mb-0">Add Author</h1>
</div>
<div class="container">
    <form asp-controller="Author" asp-action="Add" method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="FirstName">First Name<span class="text-danger">*</span></label>
                    <input type="text" asp-for="FirstName" placeholder="Enter First Name" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="MiddleName">Middle Name</label>
                    <input type="text" asp-for="MiddleName" placeholder="Enter Middle Name" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="LastName">Last Name<span class="text-danger">*</span></label>
                    <input type="text" asp-for="LastName" placeholder="Enter Last Name" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="DateOfBirth">Date of Birth<span class="text-danger">*</span></label>
                    <input type="date" asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Status">Publication Status</label>
                    <select asp-for="Status" class="form-control">
                        <option value="">Select Status</option>
                        <option value="A">Is Active</option>
                        <option value="N">Not Active</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Bio">Biography<span class="text-danger">*</span></label>
                    <textarea class="form-control" asp-for="Bio" placeholder="Enter author details"></textarea>
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top:15px;">
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-success" />
                </div>
            </div>
        </div>
    </form>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("select.form-control").select2({width: '100%'});
        });
    </script>
}